body  {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

.page-top h1 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.submenu .panel-body {
    padding: 5px;
}

.submenu form {
    margin-top: 4px;
    margin-bottom: 0px;
}

#form-sale-registry-add-field { margin-bottom: 10px }

#form-sale-registry .sale-registry-item { background-color: #eee; padding-top: 11px; margin: 15px auto; border-radius: 4px }
