<div class="page-top">
  <h1>Users</h1>
</div>

<div class="panel panel-default submenu">
  <div class="panel-body">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="[% c.uri_for_action('/users/add') %]"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</a></li>
      <!--<li role="presentation">
        <form class="navbar-form navbar-left">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Submit</button>
            </span>
          </div>
        </form>
      </li>-->
    </ul>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      [% IF c.user.is_superadmin %]
      <th>ID</th>
      <th>Contractor</th>
      [% END %]
      <th>Name</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    [% FOREACH user IN users %]
    <tr>
      [% IF c.user.is_superadmin %]
      <td>[% user.id %]</td>
      <td>[% user.contractor.name %]</td>
      [% END %]
      <td><a href="[% c.uri_for_action('/users/details', [user.id]) %]">[% user.name %]</a></td>
      <td>[% user.role.name %]</td>
    </tr>
    [% END %]
  </tbody>
</table>

[% INCLUDE pagination.tt %]
